* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;

}

.main {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-color: #F0F8FF;
    letter-spacing: 1px;
}

.main .header {
    display: flex;
    background-color: #000000;
    color: #FFFFFF;
}

.header p{
    text-align: center;
    padding: 12px 20px;
}

.header p:first-child{
    min-width: 20%;
    text-align: left;
}

.header p:nth-child(2) {
    min-width: 70%;
    text-align: center;  
}



/* BEGIN CONTAINER */
.container {
    position: relative;
    width: 70vw;
    min-height: 50vh;
    margin: 20px auto;
}

.container .choose__model {
    display: flex;
    justify-content: center;
    margin: auto;
}

.choose__model button {
    font-size: 16px;

    flex: 1;
    background-color: #000000;
    color: #FFFFFF;

    padding: 8px 0px;
    margin: 0 4px;
    border-radius: 10px;

}

.choose__model button:hover {
    background-color: #dddddd;
    color: #000000;
}

.input__text {
    padding: 4px;
}

.input_field {
    display: flex;
    gap: 10px;
}

.input_field textarea {
    flex: 1;
    width: 100%;
    min-height: 100px;
    resize: none;
    border-radius: 15px;
    padding: 0.5rem;
    margin: 4px 0;
}

.input_field #source_grammar {
    display: none;
}



.output__text output {
    display: block;
    background-color: #FFFFFF;
    color:#000;

    width: 100%;
    min-height: 100px;   
    padding: 0.5rem;
    border: 1px rgba(0, 0, 0, .4) solid;
    border-radius: 15px;
    box-sizing: border-box;
}

.active {
    background-color: #FFF !important; 
    color: #000 !important;
}